.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw !important;
    max-width: 100%;
 height: 80px !important;

  background: #eceaea;
  z-index: 1000;
}

.header-container {
  height: 100%;

  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-left svg {
  height: 40px;
  width: auto;
}
.Btn-logo {
  border: none;
 transition: transform .2s ease, color .2s ease;
}

.Btn-logo:hover {
  transform: translateY(2px);
}

.Btn-logo:active {
  transform: translateY(4px);
}
