.tab {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    

}
.InfBtn {
    border: none;
    border-radius: 8px;
    opacity: 1;
    color: rgb(99, 98, 98);
}
.text1 {
    vertical-align: middle;
    color: #101010;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.75;
    
}
.buttons {
    display:flex;
    flex-direction:row ;
    gap: 5px;
}
.manager-video {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  object-fit: cover;
}
.review-card {
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.hero-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-in {
  animation: slideInUp 0.8s ease-in-out forwards;
}

.slide-out {
  animation: slideOutUp 0.8s ease-in-out forwards;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-60px);
  }
}