.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
}
.menu-popover__content {
  width: 50%;
  margin-left: auto;

  padding: 24px;

  background: #F8F8F8;
  box-sizing: border-box;
}
.menu-popover.header,
.menu-popover__content,
.menu-popover.header .own {
  background: #f8f8f8;
}
.menu-popover.header .own {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 32px;
  padding-top: 20px;

  border-top: 1px solid #e5e5e5;
}
.menu-popover.header {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  width: 1440px;
  max-width: calc(100vw - 40px);

  z-index: 1000;
  background: transparent;
}


.menu-columns {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  gap: 32px;
}
  
.menu-column {
  display: flex;
  flex-direction: column;
}

.menu-column h4 {
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: .08em;

  color: #999;
}

.menu-column a,
.own-p {
  display: block;

  margin-bottom: 10px;

  font-size: 12px;

  color: #666565;
  text-decoration: none;

  transition: color .2s;
}

.menu-column a:hover {
   transform: translateY(2px);

  }
.menu-column a:active {
  transform: translateY(3px);
}


.contact-item {
  margin-bottom: 15px;
}

.contact-item strong {
  display: block;
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: 600;

 color: #666565;
}

.contact-item p {
  margin: 0;
  font-size: 12px;
  color: #555;
  line-height: 1.1;
  white-space: pre-line;
}

.menu-popover.header .own {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
  padding-top: 20px;

  border-top: 1px solid #e5e5e5;
}
 .net-icons {
  display: flex;
  align-items: center;
  gap: 16px;    
  width: auto;
  height: auto;
}
.net-icons svg {
  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: 0.2s;
}

.net-icons svg:hover {
  transform: translateY(-2px);
}
